body {
    background-color: #ffffff;
}
#image-section {
    margin-left: 480px;
    margin-top: 5px;
    top: -20px; /* Ubah nilai ini menjadi lebih besar jika Anda ingin elemen lebih atas */
    left: 680px;
  }
  .chat-container {
    margin-top: 50px;
  }
  .card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  #chat {
    background-color: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    resize: none;
  }
  .form-group label {
    font-weight: bold;
  }
  .form-control {
    border-radius: 5px;
  }


